@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root {
  --primary: #ffffff;
  --secondary: #dc143c;
}

/* GLOBAL STYLES */

body {
  background-color: #1e1e1e;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.container {
  padding: 80px 0;
  width: 100%;
  height: 100%;
}

.text__colour {
  color: var(--secondary);
  font-weight: 300;
}

/* NAV */

nav {
  position: absolute;
  width: 100%;
  z-index: 30;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1480px;
}

.nav__left,
.nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__link {
  font-size: 18px;
  font-weight: 200;
  margin: 0 16px;
  transition: color 400ms ease;
}

.nav__link:hover {
  color: var(--secondary);
}

.nav__logo__wrapper {
  width: 80px;
}

.nav__logo__image {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.nav__search__wrapper {
  position: relative;
}

.nav__search {
  color: var(--primary);
  border: none;
  border-radius: 40px;
  padding: 12px 4px 12px 32px;
  background-color: transparent;
  margin-right: 24px;
  cursor: default;
  width: 0px;
  transition: 300ms ease;
}

.nav__search:focus {
  width: 240px;
  outline: 2px var(--primary) solid;
  cursor: text;
}

.nav__search__icon {
  position: absolute;
  left: 8px;
  top: 10px;
  cursor: pointer;
}

/* HEADER */

header {
  height: 420px;
}

.header__background__wrapper {
  height: 420px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 60px 50px 0 rgba(5, 5, 5, 0.5);
}

.header__background__image {
  filter: opacity(30%);
  z-index: -1;
}

.header__row {
  max-width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__title {
  font-size: 60px;
  font-weight: 200;
  margin-top: 80px;
  margin-bottom: 12px;
}

.header__subtitle {
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  margin-bottom: 40px;
}

.header__search__wrapper {
  position: relative;
  z-index: 30;
}

.header__search {
  color: var(--primary);
  border: 2px white solid;
  border-radius: 40px;
  padding: 24px 60px 24px 30px;
  background-color: transparent;
  font-size: 20px;
  max-width: 100%;
  transition: 400ms ease;
}

.header__search:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0px 0px 8px var(--secondary);
}

.header__search__icon {
  position: absolute;
  top: 50%;
  right: 125px;
  font-size: 24px;
  transform: translateY(-50%);
  transition: 400ms ease;
  cursor: pointer;
}

.header__search__icon:hover {
  transform: translateY(-50%) scale(1.3);
}

/* MAIN */

.movies__container {
  padding: 80px 0;
}

.movies__row {
  margin: 0 40px;
}

.movies__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies__top {
  width: 90%;
  display: flex;
  align-items: center;
}

.movies__top__title {
  font-size: 32px;
  font-weight: 200;
}

.movie__search__result {
  padding: 8px 0;
  margin-left: 24px;
  font-weight: 300;
  text-shadow: 1px 1px 10px var(--secondary);
  color: var(--secondary);
  border-bottom: 1.5px var(--secondary) solid;
  font-size: 24px;
}

.movie__search__result__visible {
  display: block !important;
}

.movies__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 90%;
  position: relative;
}

.movie {
  width: 200px;
  margin: 24px 8px;
  background-color: #1e1e1e;
  color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgba(5, 5, 5, 0.5);
  position: relative;
}

.movie__image__wrapper {
  background-color: #1e1e1e;
  width: 100%;
  max-height: 288px;
  overflow: hidden;
}

.movie__image {
  width: 100%;
  max-height: 288px;
  transition: all 400ms ease;
}

.movie__image__wrapper:hover .movie__image {
  filter: opacity(45%) blur(4px);
  transform: scale(1.04);
}

.movie__info__title {
  color: var(--primary);
  position: absolute;
  font-size: 20px;
  top: 24px;
  left: 16px;
  opacity: 0;
  transition: 400ms ease;
}

.movie__image__wrapper:hover .movie__info__title {
  opacity: 100;
}

.movie__info {
  position: absolute;
  top: 45%;
  left: 8px;
  transform: translateY(-50%);
  width: 90%;
  opacity: 0;
  transition: 400ms ease;
}

.movie__image__wrapper:hover .movie__info {
  opacity: 1;
}

.movie__info__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 8px;
  color: var(--primary);
}

.movie__info__description:first-child {
  margin-top: 60px;
}

.movie__title {
  font-size: 14px;
  font-weight: 200;
  margin: 8px 0 24px 0;
  padding: 0 8px;
  color: var(--primary);
  text-align: center;
}

.movies__loading__spinner {
  font-size: 64px;
  position: absolute;
  color: var(--secondary);
  display: none;
  animation: loading-spinner 1000ms infinite;
}

@keyframes loading-spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/* MEDIA */

@media (max-width: 840px) {
  .movies__top {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .movies__top__title {
    margin-bottom: 8px;
  }

  .movie__search__result {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .nav__row {
    padding: 0 40px;
  }

  .nav__logo__image {
    width: 72px;
  }

  .movies__row {
    margin: 0 15px;
  }

  .movies__list {
    width: 100%;
  }

  .movie {
    width: 180px;
  }

  .movie__info__title {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .nav__row {
    padding-top: 24px;
  }

  .nav__logo__wrapper,
  .nav__search__icon {
    display: none;
  }

  .nav__link {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .header__title {
    font-size: 40px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .header__search {
    padding: 16px 0px 16px 30px;
  }

  .header__search__icon {
    right: 24px;
  }

  .movie {
    width: 124px;
  }

  .movie__image__wrapper {
    max-height: 188px;
  }

  .movie__image {
    max-height: 188px;
  }

  .movie__info__title {
    font-size: 12px;
  }

  .movie__info__description:first-child {
    margin-top: 30px;
  }

  .movie__info__description {
    margin-bottom: 24px;
    font-size: 12px;
  }
}
